services:
    nginx:
        image: nginx:latest
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./app:/app
    php:
        build:
            context: .
            dockerfile: PHP.Dockerfile
        volumes:
            - ./app:/app
        environment:
            DB_SERVER_NAME: "haarlemfestivaldb.database.windows.net"
            DB_NAME: "haarlemfestivalgroup3"
            DB_USERNAME: "festivaladmin"
            DB_PASSWORD: "admin123!"
            DB_PORT: "1433"

    phpmyadmin:
        image: phpmyadmin:latest
        ports:
            - "8080:80"
        environment:
            - PMA_HOST=mysql
volumes:
    mysqldata: {}