version: '3'

services:
    nginx:
        image: nginx:latest
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./app:/app
    php:
        build:
        context: .
        dockerfile: PHP.Dockerfile
        volumes:
        - ./app:/app
        environment:
            DB_SERVER_NAME: "whatsupapplication.database.windows.net"
            DB_NAME: "HaarlemFestival"
            DB_USERNAME: "Wolfik1822"
            DB_PASSWORD: "Pepapepa1822!"

    
    phpmyadmin:
        image: phpmyadmin:latest
        ports:
            - 8080:80
        environment:
            - PMA_HOST=mysql
volumes:
    mysqldata: {}